/* Practice CustomFonts Style Sheet */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.websafe{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.google {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
