/* css used to style experience.html */
/*   display project examples        */

.border{
    border: #000000, 1px, solid;
}

.mainContainer{
    width:800px;
    margin: 20px;
    background-color:#E4FBFA;
    overflow: hidden;
    max-width: 50%;
    min-width: fit-content;
    position: relative;
    padding: 40px;
    border: 2px black solid;
    text-align: center;
}

table {
    border-collapse:collapse;
    padding:5px;
    display: inline;
}
table caption {
    border:2px solid #000000;
    padding:5px;
    background: #367196;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
table th{
    text-align: center;
    border:2px solid #000000;
}

table td {
    border:2px solid #000000;
    text-align:center;
    padding:5px;
    background: #f6fcfe;
    color: #313030;
}

.pricing{
    display: grid;
    grid-template-columns: 1fr 1fr;

    /*display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;*/
}

.pricebox {
    background: #E4F7F6;
    border: 2px solid #000000;
    margin: 10px;
    text-align: center;
    width: 250px;
}

.pricebox h4.price {
    background: linear-gradient(to left, #B288CC, #1d167ad3, #B288CC) ;
    color: #010101;
    padding: 10px;
    font-size: 20px;
}

.pricebox img {
    margin-bottom: 20px;
}

h3{
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #172348;
}

.info{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}


