
/*Katie Green - November 17, 2022 */


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
	font-family: 'sourceSans';
	src: url(../fonts/sourcesanspro-regular-webfont.woff)
	url(../fonts/sourcesanspro-regular-webfont.woff2);
	font-weight: normal;
	font-size: normal;
}

#outerwrapper {	
	border-radius: 15%;
	background: rgba(243,205,170, 0.4);
	max-width: 70%;
	margin: auto;
	text-align: left;
}
h1{
	font-family: 'Pacifico', cursive;
	font-size: 4 em;
}

h2{
	font-family: 'sourceSans';
	font-size: 2em;
}
img {
	float:left;
	border-radius: 6em;
}

body{
	background: url(../image/jewelry.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
nav ul{
	list-style-type: none;
	font-size: 1.5 em;
	clear: left;
}

main{
	background: linear-gradient(#ffffff, #f0f9e6);
	border-radius: 2em;
	font-family: Georgia, 'Times New Roman', Arial;
	font-size: 1.25em;
	padding: 10px;
	margin: 20px;
}

.addrightmargin{
	border-radius: 6em;
	margin-right: 10%;
}

.info{
	background: white;
	border-radius: 15%;
}
footer {
	font-size: 1em;
	text-align: center;
	padding-bottom: 10px;
} 
