/* css used to style experience.html */
/*   display project examples        */

.border{
    border: #000000, 1px, solid;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

.mainContainer{
    width:800px;
    margin: 20px;
    background-color:#E4FBFA;
    overflow: hidden;
    max-width: 50%;
    min-width: fit-content;
    position: relative;
    padding: 40px;
    border: 2px black solid;
}

table {
    border:2px solid #b3adad;
    border-collapse:collapse;
    padding:5px;
}
table caption {
    border:2px solid #000000;
    padding:5px;
    background: #367196;
    color: #000000;
    font-weight: bold;
}
table td {
    border:2px solid #000000;
    text-align:center;
    padding:5px;
    background: #f6fcfe;
    color: #313030;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.pricebox1{
    background: #E4F7F6;
    border: 2px solid #000000;
    width: 600px;
    text-align: center;
}
.pricebox {
    background: #E4F7F6;
    border: 2px solid #000000;
    margin: 10px;
    text-align: center;
    width: 400px;
}

.pricebox h4.price {
    background:#8CE18A; 
    color: #5DA2E3;
    padding: 10px;
    font-size: 20px;
}

.pricebox1 h4.price {
    background: #8CE18A; 
    color: #5DA2E3;
    padding: 10px;
    font-size: 20px;
}

.pricebox img {
    margin-bottom: 20px;
}

.pricebox a.button {
    display: block;
    width: 40%;
    margin: 10px auto;
    color: #4E6F9E;
    background: #8CE18A;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 1px;
}
.pricebox1 a.button {
    display: block;
    width: 15%;
    margin: 10px auto;
    color: #4E6F9E;
    background: #8CE18A;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 1px;
}
h3{
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #172348;
}

.info{
    font-size: 14px;
    text-align: center;
}


